@keyframes playBounce{
    from{
        transform:scale(0.9);
    }
    to{
        transform:scale(1);
    }
}

*{
    margin:0px;
    padding:0px;
}
#formContainer{
    width: 100%;
    height: 100vh;
    background-image: url('image/bg.jfif');
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;
    background-blend-mode: darken;
}

#form{
    border: 1px solid rgb(97, 91, 91);
    max-width:30%;
    height:90%;
    margin:auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(60px);

}

#form input{
width: 80%;
padding: 10px;
background-color:white;
margin: auto;
margin-bottom: 40px;
height: inherit;
border-radius: 10px;
box-shadow: 0px 2px lightgray;
font-family: "Righteous";
outline:none;
border:1px solid lightgray;
font-size:1.5em;
}

#form button{
 transition: all 1s;
min-width: 40%;
margin:auto;
cursor:pointer;
color:lightgreen;
background-color: white;
margin-bottom: 20px;
font-size:1.5em;
padding:10px;
box-sizing: border-box;
border-radius:5px;
outline:none;
border:1px solid lightgray;
}
#form button:hover{
    background-color:lightgreen;
    color:white;
}
#form #logo{
    width:20%;
    margin:auto;
    height:20%;
}
#form #playButton{
   position: absolute;
   top:1%;
   left:88%;
   width:10%;
   margin:auto;
   height:10%;
   animation-name:playBounce;
   animation-iteration-count: infinite;
   animation-duration:1s;
   animation-direction: reverse;
   
}

@media only screen and (min-width:700px) and (max-width: 1024px){
#form {
   
   max-width:80%;

}


}


@media only screen and (max-width:700px ){
#form {
   
   max-width:80%;

}


}

